@model IEnumerable<CustomerDetail>
@{
    ViewBag.Title = "用户明细";
}
<h2>@ViewBag.Title</h2>
<form class="search">
    <input type="hidden" value="false" name="raw" />
    检索：
	<select name="ContractorName">
		@foreach (string x in ViewBag.ContractorNames)
        {
            <option value="">客户经理</option>
			<!option @(Context.Request.Query["ContractorName"] == x ? "selected" : "")>@x</!option>
		}
	</select>
    <select name="Status">
        <option value="">状态</option>
        @foreach (string x in ViewBag.Statuses)
        {
			<!option @(Context.Request.Query["Status"] == x ? "selected" : "")>@x</!option>
        }
    </select>
    <select name="Set">
        <option value="">套餐</option>
        @foreach (string x in ViewBag.Sets)
        {
			<!option @(Context.Request.Query["Set"] == x ? "selected" : "")>@x</!option>
        }
    </select>
	<input type="text" class="textbox" placeholder="地址" name="Address" />
    <input type="submit" class="btn" value="检索" id="btnSearch" />
    <input type="button" class="btn" value="导出" id="btnExport" />
</form>
<table class="table">
	<thead>
		<tr>
			<th>接入号</th>
			<th>用户状态</th>
			<th>用户姓名</th>
			<th>四级承包人名称</th>
			<th>四级承包体名称</th>
			<th>当月出账</th>
			<th>代理费</th>
			<th>一次佣金</th>
			<th>欠费</th>
			<th>装机地址</th>
            <th>标准地址</th>
            <th>套餐</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var x in Model)
		{
			<tr>
				<td>@x.Account</td>
				<td>@x.Status</td>
				<td>@x.CustomerName</td>
				<td>@x.ContractorName</td>
				<td>@x.ContractorStruct</td>
				<td>@x.CurrentMonthBill</td>
				<td>@x.AgentFee</td>
				<td>@x.Commission</td>
				<td>@x.Arrearage</td>
				<td>@x.ImplementAddress</td>
                <td>@x.StandardAddress</td>
                <td>@x.Set</td>
			</tr>
		}
	</tbody>
</table>

@Html.MakePager("pager-item", "active", "pager")

<script>
    $('#btnSearch').click(function ()
    {
        $('input[name="raw"]').val("false");
    });
    $('#btnExport').click(function ()
    {
        $('input[name="raw"]').val("true");
        $('form').submit();
    });
</script>